<form class="ui stacked segment form" action="/dashboard/addteam" method="POST">
  <div class="two fields">
    <div class="field">
      <label for ="title">Name of Team</label>
      <input placeholder="Name" type="text" name="title" autofocus required>
    </div>
    <div class="field">
      <label for ="stadium">Stadium</label>
      <input placeholder="Staduim" type="text" name="stadium" autofocus required>
    </div>
  </div>

  <button class="ui blue submit button">Add team</button>
</form>