{{> menu id="about"}}

<head>

</head>

<section class="ui center aligned middle aligned segment">
  <h2 style="color:#0D2149;" class="ui header" >
    The playlist app team: 
  </h2>

  <div class="ui centered cards">
    {{#each developers}}
      {{> card}}
    {{/each}}
  </div>
  <h3 style="color:#0D2149;">The location of ur Bussiness</h3>

  <p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2379.009263565522!2d-6.265135684637581!3d53.39677417863457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e1cfe082adb%3A0x45c263e73760bf5c!2sBallymun%20Apartments!5e0!3m2!1sen!2sie!4v1678968695232!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</p>
  


</section>