{{> menu}}

<section class="ui two column grid segment">
      <div class="ui column">
          <h2 style="color:black;">Welcome to the Squad Builder App!</h2>
            <p style="color:black;">
              This app will allow users to create and maintain a collection of teams.
            </p>
            <div class="buttons">
              <button class="ui inverted orange button">
                Read more <i class="arrow circle right icon"></i>
              </button>
              <button class="ui inverted green button">
                Like it? <i class="thumbs up icon"></i>
              </button>
              <button class="ui inverted red button">
                Who are you? <i class="user icon"></i>
              </button>
            </div>
          <div id="readmore" class="ui message">
            <p>
              This is for my Web-app dev assignemt in whitch I made a squad builder app where you can build fantasy teams with your favourite players or perhaps just you and your friends!
        
            </p>  
          </div>
          <div id="welcomeuser" class="ui message"> </div>
        
        <div class="ui divider"></div>

<h3 style="color:black;" class="ui center aligned header">The Squad builder app now contains:</h3>
<div class="ui two statistics">
    <div class="ui huge statistic">
        <div class="value">
            {{totalteams}}
        </div>
        <div class="label">
            teams
        </div>
    </div>
    <div class="ui huge statistic">
        <div class="value">
            {{totalplayers}}
        </div>
        <div class="label">
            players
        </div>
    </div>
</div>
        
        </div>  
  <div class="ui column">
    <div class="ui grid">
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.global/bbfc0388-f2b3-4617-9899-e013d981d1df/vector-logo-template-soccer-ball-color-91657652.png?v=1678970550737">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.global/bbfc0388-f2b3-4617-9899-e013d981d1df/logo.png?v=1678958058878">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.global/bbfc0388-f2b3-4617-9899-e013d981d1df/logo3.png?v=1678958064429">
      </div>
      <div class="ui eight wide column">
        <img class="ui small circular image" src="https://cdn.glitch.global/bbfc0388-f2b3-4617-9899-e013d981d1df/download%20(1).png?v=1678988490936">
      </div>
    </div>
  </div>
</section>
